# Arquivos java class
*.class

# Arquivos de pacotes
*.jar
*.war

# GWT caches e unidades compiladas
war/gwt_bree/
gwt-unitCache/

# Classes geradas
.apt_generated/

# Caches e arquivos de deploy
war/WEB-INF/deploy/
war/WEB-INF/classes/

# Logs da compilação
.gwt/

# Cache de arquivos compilados
gwt-unitCache/

# GWT junit arquivos de compilação
www-test/

# GWT (1.5) cria esse diretório
.gwt-tmp/

# IDE
.idea/
*.iml

# Saídas
out/ # Gerada pelo GWT
target/ # Gerada pelo GwtMockito

# Não estavam sendo detectados pelo gitignore
out/production/GSS/META-INF/GSS.kotlin_module
out/test/GSS/META-INF/GSS.kotlin_module
target/classes/META-INF/GSS.kotlin_module

# Gradle
.gradle/

# Chaves que não devem ser enviadas ao repositório
Keys.java