# Arquivos java class
*.class

# Arquivos de pacotes
*.jar
*.war

# GWT caches e unidades compiladas
war/gwt_bree/
gwt-unitCache/

# Classes geradas
.apt_generated/

# Caches e arquivos de deploy
war/WEB-INF/deploy/
war/WEB-INF/classes/

# Logs da compilação
.gwt/

# Cache de arquivos compilados
gwt-unitCache/

# GWT junit arquivos de compilação
www-test/

# GWT (1.5) cria esse diretório
.gwt-tmp/

# IDE
.idea/
*.iml

# Output
out/